/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  background-color: rgb(225	231	239	);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

button:hover {
  cursor: pointer;
}

aside {
  background-color: rgb(26	146	211	);
  grid-column: 1/2;
  grid-row: 1/3;
  padding: 18px;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 3em;
  margin-top: 32px;

  padding-left: 12px;
}

nav > ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}

nav > ul img {
  height: 30px;
  width: 30px;
  filter: brightness(0) invert(1);
}

nav > ul > li > a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-content: center;
  gap: 4px;

}

nav > ul > li > a:hover {
  color: rgb(112, 172, 250);
}

header {
  background-color: rgb(255	255	255	);
  grid-column: 2 / 3;
  padding: 20px;
}

main {
  grid-column: 2 / 3;
  padding: 20px;
  display: flex;
  gap: 16px;
}

article {
  flex: 1 1 100px;
}

input[type="search"] {
  border-radius: 15px;
  background-color: rgb(222	228	236	);
  border: none;
}

.card {
  background-color: rgb(255	255	255	);
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 1fr;
}

.logo {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  padding: 24px 8px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.logo > img {
  height: 50px;
  width: 50px;
}


.announcements__container {
  grid-column: 2 / 3;
}

.announcements,.trends {
  border-radius: 10px;
  padding: 24px;
  background-color: rgb(255	255	255	);
}

.trends__container {
  grid-column: 2 / 3;
}

.announcement {
  padding: 4px;
}

.announcement:not(:last-child) {
  border-bottom: 1px gray solid ;
}

.card__container {
  flex: 0 0 316px;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
}

.card {
  border-left:12px solid rgb(240	181	41	);
  height: 200px;
  padding: 24px 16px;
  border-radius: 10px;
  overflow: hidden;
}

.card__title {
  font-weight: 600;
}

.card__text {
  display: block;/* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
}

.main__aside {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-basis: 300px;
}

.header__nav {
  display: flex;
}

.search {
  display: flex;
  gap: 8px;
  align-items: center;
  min-width: 60%;
}

.search > input {
  width: 100%;
}

.search > label > img {
  filter: brightness(0);
  width: 30px;
}

.search > label > img:hover {
  cursor: pointer;
}

.header__nav__buttons {
  display: flex;
  gap: 25px;
  margin-left: auto;
  margin-right: 24px;
}

.header__nav__buttons > button {
  background-color: transparent;
  border: none;
}

.profile__button {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}

.profile__button > img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid black;
}

.bell__button {
  filter: brightness(0) invert(0);
}

.bell__button > img {
  width: 30px;
}

.header__actions {
  display: flex;
  align-items: center;
}

.header__actions img {
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid black;
}

.header__actions__buttons {
  margin-left: auto;
  margin-right: 16px;
  display: flex;
  gap: 24px;
}

.header__actions > div > button {
  font-size: 18px;
  
  background-color: rgb(26	146	211	);
  border: none;
  color: white;
  width: 120px;
  height: 40px;
  border-radius: 20px;
}

.header__actions__greeting {
  margin-left: 24px;
  display: flex;
  align-items: center;
  gap: 24px;
  font-weight: 700;
  line-height: 1.2;
}

.username {
  font-size: 32px;
}