/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  background-color: rgb(225	231	239	);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

button:hover {
  cursor: pointer;
}

aside {
  background-color: rgb(26	146	211	);
  grid-column: 1/2;
  grid-row: 1/3;
  padding: 18px;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 3em;
  margin-top: 32px;

  padding-left: 12px;
}

nav > ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}

nav > ul > li > a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 600;

}

nav > ul > li > a:hover {
  color: rgb(112, 172, 250);
}

header {
  background-color: rgb(255	255	255	);
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

main {
  grid-column: 2 / 3;
  padding: 20px;
  display: flex;
  gap: 16px;
}

article {
  flex: 1 1 100px;
}

form {
  flex: 1;
}

input[type="search"] {
  width: 80%;
  border-radius: 15px;
  background-color: rgb(222	228	236	);
  border: none;
  padding: 0px 8px;
}

.card {
  background-color: rgb(255	255	255	);
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 120px 1fr;
}

.logo {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  padding: 24px 8px;
}

.header__nav {
  display: flex;
  padding: 20px;
}

.header__actions {
  display: flex;
  padding: 20px;
}

.announcements__container {
  grid-column: 2 / 3;
}

.announcements,.trends {
  border-radius: 10px;
  padding: 24px;
  background-color: rgb(255	255	255	);
}

.trends__container {
  grid-column: 2 / 3;
}

.announcement {
  padding: 4px;
}

.announcement:not(:last-child) {
  border-bottom: 1px gray solid ;
}

.card__container {
  flex: 0 0 316px;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
}

.card {
  border-left:12px solid rgb(240	181	41	);
  height: 200px;
  padding: 24px 16px;
  border-radius: 10px;
  overflow: hidden;
}

.card__title {
  font-weight: 600;
}

.card__text {
  display: block;/* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
}

.main__aside {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-basis: 300px;
}